In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as stats
import math
import os
%matplotlib inline

In [2]:
path = '~/Documents/ME365/Lab4/'
files = ['Lab4_420G4.xlsx','Lab4_440AG4.xlsx','Lab4_Nimark_300G4.xlsx','Lab4_Custom_455G4.xlsx']
dat440 = pd.DataFrame(pd.read_excel(path + files[1],header = 0))
dat420 = pd.DataFrame(pd.read_excel(path + files[0],header = 0))
dat300 = pd.DataFrame(pd.read_excel(path + files[2],header = 0))
dat455 = pd.DataFrame(pd.read_excel(path + files[3],header = 0))

In [3]:
dat420

   Sample  Thickness  %Reduction     1   2     3   4 scale
0       1      0.258         NaN  93.5  95  95.0  93     B
1       2      0.237    8.139535  93.5  99  98.5  99     B
2       3      0.213   17.441860  21.0  20  21.0  20     C
3       4      0.154   40.310078  26.0  26  26.0  26     C
4       5      0.106   58.914729  30.0  30  30.0  30     C

In [4]:
# Convert all Rockwell B to C for 440 data
dat440.iloc[0,3] = 18
dat440.iloc[0,4:7] = 20

# Convert all Rockwell B to C for 
def interpolate(x1,x2,y1,y2,X):
    
    return y1 + (y1 - y2)*(X - x1)/(x1 - x2)
x1 = 93
x2 = 94
X = 93.5
y1 = 13
y2 = 15
dat420.iloc[0:2,3] = interpolate(x1,x2,y1,y2,X)
x1 = 98
x2 = 99
X = 98.5
y1 = 21
y2 = 22
dat420.iloc[1,5] = interpolate(x1,x2,y1,y2,X)
dat420.iloc[0,4:6] = 16.
dat420.iloc[0,6] = 13.
dat420.iloc[1,4] = 22.
dat420.iloc[1,6] = 22.
dat420.iloc[0:2,7] = 'C'
dat440.iloc[0,7] = 'C'

In [5]:
dat420

   Sample  Thickness  %Reduction     1     2     3     4 scale
0       1      0.258         NaN  14.0  16.0  16.0  13.0     C
1       2      0.237    8.139535  14.0  22.0  21.5  22.0     C
2       3      0.213   17.441860  21.0  20.0  21.0  20.0     C
3       4      0.154   40.310078  26.0  26.0  26.0  26.0     C
4       5      0.106   58.914729  30.0  30.0  30.0  30.0     C

In [6]:
dat300

   Sample  Thickness  %Reduction   1   2   3   4 scale
0       1      0.080         NaN  32  32  33  31     C
1       2      0.072       34.00  32  32  33  34     C
2       3      0.065       18.75  35  34  35  35     C
3       4      0.057       28.75  32  33  33  32     C
4       5      0.043       46.25  32  33  34  32     C

In [7]:
dat455

   Sample  Thickness  %Reduction   1   2   3     4 scale
0       1      0.091         NaN  30  30  30  30.0     C
1       2      0.080   12.087912  30  30  31  30.0     C
2       3      0.072   20.879121  30  29  30  31.0     C
3       4      0.053   41.758242  31  31  30  32.0     C
4       5      0.048   47.252747  34  33  34  35.5     C

In [8]:
dat440

   Sample  Thickness  %Reduction   1   2   3   4 scale
0       5      0.084         NaN  18  20  20  20     C
1       4      0.077    8.333333  22  22  22  22     C
2       3      0.065   22.619048  26  27  25  25     C
3       2      0.052   38.095238  28  27  28  31     C
4       1      0.040   52.380952  29  29  30  29     C

In [9]:
dat420['mean_hardness'] = 0.
dat440['mean_hardness'] = 0.
dat455['mean_hardness'] = 0.
dat300['mean_hardness'] = 0.

for i in range(5):
    dat420.mean_hardness.loc[i] = sum(dat420.iloc[i,3:7])/4   
    dat440.mean_hardness.loc[i] = sum(dat440.iloc[i,3:7])/4 
    dat300.mean_hardness.loc[i] = sum(dat300.iloc[i,3:7])/4 
    dat455.mean_hardness.loc[i] = sum(dat455.iloc[i,3:7])/4  

print 'dat420\n',dat420
print 'dat440\n',dat440
print 'dat455\n',dat455
print 'dat300\n',dat300

/home/scott/.local/lib/python2.7/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

dat420
   Sample  Thickness  %Reduction     1     2     3     4 scale  mean_hardness
0       1      0.258         NaN  14.0  16.0  16.0  13.0     C         14.750
1       2      0.237    8.139535  14.0  22.0  21.5  22.0     C         19.875
2       3      0.213   17.441860  21.0  20.0  21.0  20.0     C         20.500
3       4      0.154   40.310078  26.0  26.0  26.0  26.0     C         26.000
4       5      0.106   58.914729  30.0  30.0  30.0  30.0     C         30.000
dat440
   Sample  Thickness  %Reduction   1   2   3   4 scale  mean_hardness
0       5      0.084         NaN  18  20  20  20     C           19.0
1       4      0.077    8.333333  22  22  22  22     C           22.0
2       3      0.065   22.619048  26  27  25  25     C           25.0
3       2      0.052   38.095238  28  27  28  31     C           28.0
4       1      0.040   52.380952  29  29  30  29     C           29.0
dat455
   Sample  Thickness  %Reduction   1   2   3     4 scale  mean_hardness
0       1      0.091         NaN  30  30  30  30.0     C         30.000
1       2      0.080   12.087912  30  30  31  30.0     C         30.250
2       3      0.072   20.879121  30  29  30  31.0     C         30.000
3       4      0.053   41.758242  31  31  30  32.0     C         31.000
4       5      0.048   47.252747  34  33  34  35.5     C         34.125
dat300
   Sample  Thickness  %Reduction   1   2   3   4 scale  mean_hardness
0       1      0.080         NaN  32  32  33  31     C           32.0
1       2      0.072       34.00  32  32  33  34     C           32.0
2       3      0.065       18.75  35  34  35  35     C           34.0
3       4      0.057       28.75  32  33  33  32     C           32.0
4       5      0.043       46.25  32  33  34  32     C           32.0

In [28]:
# Retrieve t-stat value from the "chart" TINV(a,v) 95% confidence interval
alpha = .05
t = stats.t.ppf(1-alpha/2,df=6)
print t

2.4469118487916806

In [29]:
# This mess creates a function that does the rest of the statistcal calculations and writes it to DataFrames

def truemean(n1,n2):
    
    alpha = .05
    t = stats.t.ppf(1-alpha/2,df=6)
    v1 = n1-1
    v2 = n2-1
    df = n1+n2-2
    v = v1+v2
    dat420['true_mean+'] = 0.
    dat440['true_mean+'] = 0.
    dat455['true_mean+'] = 0.
    dat300['true_mean+'] = 0.
    dat420['true_mean-'] = 0.
    dat440['true_mean-'] = 0.
    dat455['true_mean-'] = 0.
    dat300['true_mean-'] = 0.
    dat420['std'] = 0.
    dat440['std'] = 0.
    dat455['std'] = 0.
    dat300['std'] = 0.
    dat420['Sx'] = 0.
    dat440['Sx'] = 0.
    dat455['Sx'] = 0.
    dat300['Sx'] = 0.
    #S1 = dat420.iloc[0,3:7].std()
    for i in range(0,5):
        dat420['std'].iloc[i] = dat420.iloc[i,3:7].std()
        dat440['std'].iloc[i] = dat440.iloc[i,3:7].std()
        dat455['std'].iloc[i] = dat455.iloc[i,3:7].std()
        dat300['std'].iloc[i] = dat300.iloc[i,3:7].std()
        dat420.Sx.iloc[i] = (v1*dat420['std'].iloc[0]+v2*dat420['std'].iloc[i])/(v)
        dat440.Sx.iloc[i] = (v1*dat440['std'].iloc[0]+v2*dat440['std'].iloc[i])/(v)
        dat455.Sx.iloc[i] = (v1*dat455['std'].iloc[0]+v2*dat455['std'].iloc[i])/(v)
        dat300.Sx.iloc[i] = (v1*dat300['std'].iloc[0]+v2*dat300['std'].iloc[i])/(v)
        if i >= 1:
            dat420['true_mean+'].iloc[i] = dat420['mean_hardness'].iloc[0]-dat420['mean_hardness'].iloc[i] + t*dat420.Sx[i]*np.sqrt(1/n1+1/n2)
            dat440['true_mean+'].iloc[i] = dat440['mean_hardness'].iloc[0]-dat440['mean_hardness'].iloc[i] + t*dat440.Sx[i]*np.sqrt(1/n1+1/n2)
            dat455['true_mean+'].iloc[i] = dat455['mean_hardness'].iloc[0]-dat455['mean_hardness'].iloc[i] + t*dat455.Sx[i]*np.sqrt(1/n1+1/n2)
            dat300['true_mean+'].iloc[i] = dat300['mean_hardness'].iloc[0]-dat300['mean_hardness'].iloc[i] + t*dat300.Sx[i]*np.sqrt(1/n1+1/n2)
            dat420['true_mean-'].iloc[i] = dat420['mean_hardness'].iloc[0]-dat420['mean_hardness'].iloc[i] - t*dat420.Sx[i]*np.sqrt(1/n1+1/n2)
            dat440['true_mean-'].iloc[i] = dat440['mean_hardness'].iloc[0]-dat440['mean_hardness'].iloc[i] - t*dat440.Sx[i]*np.sqrt(1/n1+1/n2)
            dat455['true_mean-'].iloc[i] = dat455['mean_hardness'].iloc[0]-dat455['mean_hardness'].iloc[i] - t*dat455.Sx[i]*np.sqrt(1/n1+1/n2)
            dat300['true_mean-'].iloc[i] = dat300['mean_hardness'].iloc[0]-dat300['mean_hardness'].iloc[i] - t*dat300.Sx[i]*np.sqrt(1/n1+1/n2)
        else:
            dat420['true_mean+'].iloc[i] = 'NaN'
            dat440['true_mean+'].iloc[i] = 'NaN'
            dat455['true_mean+'].iloc[i] = 'NaN'
            dat300['true_mean+'].iloc[i] = 'NaN'
            dat420['true_mean-'].iloc[i] = 'NaN'
            dat440['true_mean-'].iloc[i] = 'NaN'
            dat455['true_mean-'].iloc[i] = 'NaN'
            dat300['true_mean-'].iloc[i] = 'NaN'
    return('Statiscal Analysis Successful\n\n')

In [31]:
# This 
print truemean(4,4)
print 'dat420\n\n',dat420
print 'dat440\n\n',dat440
print 'dat455\n\n',dat455
print 'dat300\n\n',dat300

Statiscal Analysis Successful


dat420

   Sample  Thickness  %Reduction     1     2     3     4 scale  mean_hardness  \
0       1      0.258         NaN  14.0  16.0  16.0  13.0     C         14.750
1       2      0.237    8.139535  14.0  22.0  21.5  22.0     C         19.875
2       3      0.213   17.441860  21.0  20.0  21.0  20.0     C         20.500
3       4      0.154   40.310078  26.0  26.0  26.0  26.0     C         26.000
4       5      0.106   58.914729  30.0  30.0  30.0  30.0     C         30.000

  true_mean+ true_mean-       std        Sx
0        NaN        NaN  1.500000  1.500000
1     -5.125     -5.125  3.923752  2.711876
2      -5.75      -5.75  0.577350  1.038675
3     -11.25     -11.25  0.000000  0.750000
4     -15.25     -15.25  0.000000  0.750000
dat440

   Sample  Thickness  %Reduction   1   2   3   4 scale  mean_hardness  \
0       5      0.084         NaN  18  20  20  20     C           19.0
1       4      0.077    8.333333  22  22  22  22     C           22.0
2       3      0.065   22.619048  26  27  25  25     C           25.0
3       2      0.052   38.095238  28  27  28  31     C           28.0
4       1      0.040   52.380952  29  29  30  29     C           29.0

  true_mean+ true_mean-       std        Sx
0        NaN        NaN  1.000000  1.000000
1         -3         -3  0.000000  0.500000
2         -6         -6  0.957427  0.978714
3         -9         -9  1.732051  1.366025
4        -10        -10  0.500000  0.750000
dat455

   Sample  Thickness  %Reduction   1   2   3     4 scale  mean_hardness  \
0       1      0.091         NaN  30  30  30  30.0     C         30.000
1       2      0.080   12.087912  30  30  31  30.0     C         30.250
2       3      0.072   20.879121  30  29  30  31.0     C         30.000
3       4      0.053   41.758242  31  31  30  32.0     C         31.000
4       5      0.048   47.252747  34  33  34  35.5     C         34.125

  true_mean+ true_mean-       std        Sx
0        NaN        NaN  0.000000  0.000000
1      -0.25      -0.25  0.500000  0.250000
2          0          0  0.816497  0.408248
3         -1         -1  0.816497  0.408248
4     -4.125     -4.125  1.030776  0.515388
dat300

   Sample  Thickness  %Reduction   1   2   3   4 scale  mean_hardness  \
0       1      0.080         NaN  32  32  33  31     C           32.0
1       2      0.072       34.00  32  32  33  34     C           32.0
2       3      0.065       18.75  35  34  35  35     C           34.0
3       4      0.057       28.75  32  33  33  32     C           32.0
4       5      0.043       46.25  32  33  34  32     C           32.0

  true_mean+ true_mean-       std        Sx
0        NaN        NaN  0.816497  0.816497
1          0          0  0.957427  0.886962
2         -2         -2  0.500000  0.658248
3          0          0  0.577350  0.696923
4          0          0  0.957427  0.886962

In [32]:
path = '~/Documents/ME365/Lab4/'
files = ['Lab4_420G4_stat.xlsx','Lab4_440AG4_stat.xlsx','Lab4_Nimark_300G4_stat.xlsx','Lab4_Custom_455G4_stat.xlsx']
dat440.to_excel(path + files[1])
dat420.to_excel(path + files[0])
dat300.to_excel(path + files[2])
dat455.to_excel(path + files[3])

In [33]:
jupyter nbconvert notebook.ipynb --to pdf

SyntaxError: invalid syntax (<ipython-input-33-9191506a81a6>, line 1)